/* Redefinindo estilos e tamanhos padrões na página para colocar responsividade depois */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: black;
    color: #fff;
}

/* Estilo no HEADER */
header {
    width: 100%;
    height: 100px;
}

/* Title da pagina */
.titlePage {    
    font-size: 50px;
    text-align: center;
    padding-top: 15px;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-weight: 100%;
    position: relative;
    transition: all 0.8s;
}

/* Estilizando quando passar o mouse por cima do titulo */
.titlePage:hover {
    transition: all 0.8s;
    font-size: 55px;
    color: rgb(155, 110, 197);
    font-weight: bold;
}


/* BOX */
.box {
    background-color: rgb(83, 4, 156);
    width: 100px;
    height: 100px;
    position: absolute;
    top: -20px;
    left: 5px;
    transform: rotate(30deg);
    transform-origin: top left;
    margin-left: -10px;
    opacity: 100%;  
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

/* BOX - 2 */
.box2 {
    background-color: rgb(155, 110, 197);
    width: 130px;
    height: 100px;
    opacity: 40%;  
    position: absolute;
    top: 0px;
    left: 20px;
    transform: rotate(30deg);
    transform-origin: top right;
    margin-right: 50px;
    z-index: -1;
}

/* BOX - 3 */
.box3 {
    background-color: rgb(127, 31, 218);
    width: 150px;
    height: 100px;  
    position: absolute;
    opacity: 70%;
    top: 5px;
    left: 20px;
    transform: rotate(30deg);
    transform-origin: top left;
    margin-left: -20px;
    margin-top: 50px;
    z-index: -1;
}


/* Estilo na frase que indica pra escolher evento */
.Choice_Event {
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    transition: all 0.8s;
}

/* Estilizando quando o mouse na frase */
.Choice_Event:hover {
    color: rgb(214, 218, 3);
    font-size: 15px;
    transition: all 0.8s;
}

.Line {
    width: 20%;
    height: 1px;
    background-color: #fff;
    align-items: center;
    margin-left: 40%;
    margin-top: 2px;
}

/* Estilo no - CARD DE SHOW */
.Show_cards {
    width: 35%;
    height: 55px;
    text-transform: uppercase;
    font-family: 'Anton', sans-serif;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    border-radius: 20px;
    background-color: #fcfcfc;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.8s;
}

/* Estilo no texto do CARD */
.Show_cards span {
    font-size: 25px;
    background-color: rgb(155, 110, 197);
    display: block;
    width: 90%;
    height: 50px;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    margin-top: -10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5), 0 0 20px rgba(0, 0, 0, 0.8); 
    transition: all 0.8s;
}

/* Estilizando assim que o mouse passar por cima */
.Show_cards span:hover {
    background-color: rgb(212, 191, 233);
    color: #000000;
    transition: all 0.8s;
}

.Show_cards:hover {
    background-color: rgb(56, 13, 78);
    transition: all 0.8s;
}