/* Redefinindo estilos e tamanhos padrões na página para colocar responsividade depois */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: black;
    color: #fff;
}

/* Estilo no HEADER */
header {
    width: 100%;
    height: 100px;
}

/* Title da pagina */
.titlePage {    
    font-size: 50px;
    text-align: center;
    padding-top: 15px;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-weight: 100%;
    position: relative;
}

/* BOX */
.box {
    background-color: rgb(77, 2, 148);
    width: 80px;
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(30deg);
    transform-origin: top left;  
}

/* BOX - 2 */
.box2 {
    background-color: rgb(155, 110, 197);
    width: 130px;
    height: 100px;
    opacity: 40%;  
    position: absolute;
    top: 9px;
    left: 20px;
    transform: rotate(30deg);
    transform-origin: top right;
    margin-right: 50px;
}

/* BOX - 3 */
.box3 {
    background-color: rgb(127, 31, 218);
    width: 150px;
    height: 100px;  
    position: absolute;
    opacity: 80%;
    top: 5px;
    left: 20px;
    transform: rotate(30deg);
    transform-origin: top left;
    margin-left: -20px;
    margin-top: 50px;
    z-index: -1;
}

